fastapi
uvicorn
python-multipart

pandas
numpy
openpyxl

plotly

langchain
langchain-community
langgraph
langchain-ollama

chromadb
faiss-cpu
sentence-transformers

pypdf
python-dotenv
python-docx
docx2txt

scikit-learn

ollama

tqdm

python-dotenv
pydantic

requests

aiofiles

cachetools

rank_bm25